<footer class="bounceInUp animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: bounceInUp;">
    <div class="container">
        <div class="row footer-widgets">
            <!-- Subscribe Widget -->
            <div class="col-md-3 col-xs-12">
                <app-subscribe></app-subscribe>
            </div>
            <!-- Twitter Widget -->
            <div class="col-md-3 col-xs-12">
                <app-twitter></app-twitter>
            </div>
            <!-- Instagram Widget -->
            <div class="col-md-3 col-xs-12">
                <app-instagram></app-instagram>
            </div>
            <!-- Contact Widget -->
            <div class="col-md-3 col-xs-12">
                <app-contact></app-contact>
                <app-my-social></app-my-social>
            </div>
        </div>
        <!-- Copyright -->
        <app-copyright></app-copyright>
    </div>
</footer>