<div class="list-group">
    <a href="/#/sidebar/home" :class="['list-group-item', { 'active': $route.meta.sidebar_home }]">Home</a>
    <a href="/#/sidebar/about" :class="['list-group-item', { 'active': $route.meta.sidebar_about }]">About</a>
    <a href="/#/sidebar/services" :class="['list-group-item', { 'active': $route.meta.sidebar_services }]">Services</a>
    <a href="/#/sidebar/portfolio-1" :class="['list-group-item', { 'active': $route.meta.sidebar_portfolio1 }]">1 Column Portfolio</a>
    <a href="/#/sidebar/portfolio-2" :class="['list-group-item', { 'active': $route.meta.sidebar_portfolio2 }]">2 Column Portfolio</a>
    <a href="/#/sidebar/portfolio-3" :class="['list-group-item', { 'active': $route.meta.sidebar_portfolio3 }]">3 Column Portfolio</a>
    <a href="/#/sidebar/portfolio-4" :class="['list-group-item', { 'active': $route.meta.sidebar_portfolio4 }]">4 Column Portfolio</a>
    <a href="/#/sidebar/portfolio-item" :class="['list-group-item', { 'active': $route.meta.sidebar_portfolio_item }]">Single Portfolio Item</a>
    <a href="/#/sidebar/blog-home1" :class="['list-group-item', { 'active': $route.meta.sidebar_blog_home1 }]">Blog Home 1</a>
    <a href="/#/sidebar/blog-home2" :class="['list-group-item', { 'active': $route.meta.sidebar_blog_home2 }]">Blog Home 2</a>
    <a href="/#/sidebar/blog-post" :class="['list-group-item', { 'active': $route.meta.sidebar_blog_post }]">Blog Post</a>
    <a href="/#/sidebar/full-width" :class="['list-group-item', { 'active': $route.meta.sidebar_full_width }]">Full Width Page</a>
    <a href="/#/sidebar/faq" :class="['list-group-item', { 'active': $route.meta.sidebar_faq }]">FAQ</a>
    <a href="/#/sidebar/error-404" :class="['list-group-item', { 'active': $route.meta.sidebar_error404 }]">404</a>
    <a href="/#/sidebar/pricing" :class="['list-group-item', { 'active': $route.meta.sidebar_pricing }]">Pricing Table</a>
    <a href="/#/sidebar/contact" :class="['list-group-item', { 'active': $route.meta.sidebar_contact }]">Contact</a>
</div>